.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    padding-bottom: 0.5rem;
}

.nameLink {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;

    .linkIcon {
        transform: translateY(-2px);
    }
}

.description {
    padding-bottom: 1rem;
}

.techStack {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.tech {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

.preview {
    height: 10rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 60rem) {
    .project {
        display: block;
    }

    .preview {
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }
}
