.techContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 29em;
    width: fit-content;

    img {
        height: 1.5rem;
    }

    p {
        padding-left: 0.4rem;
        font-size: 1rem;
    }
}
